.add-product-form {
    display: flex;    flex-direction: column;
    width: 100%;
}
.add-prodcut-form__container{
    display: flex;
}
.add-product-form__label{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    flex: 1;
    height: 100%;
}
.add-product-form__label__text {
    height: 50%;
    margin-bottom: 0.25rem;
}
.add-product-form__label__asterisk{
    color: red;
}
.add-product-form__input {
    height: 50%;
}
.add-product-form__button {
    height: 50%;
    align-self: flex-end;
    flex: none;
}
.add-prodcut-form__error {
    color: red;
}.add-prodcut-form__error {
    color: red;
}